.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1080px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.paginationBttns {
  /* width: 80%; */
  /* height: 40px; */
  list-style-type: none;
  display: flex;
  justify-content: right;
  text-decoration: none;
  /* padding: 20px 0; */
}

ul.paginationBttns {
  padding: 0px;
  padding-top: 10px;
  margin: 0;
  text-align: right;
}

.paginationBttns a {
  padding: 5px;
  margin: 3px;
  color: rgb(34, 99, 221);
  text-decoration: none;
}

.paginationBttns a:hover {
  color: red;
}

.paginationActive {
  color: rgb(255, 94, 0);

}


/* .button-plus:hover {
  background-color: #fd7e14 !important;
}

.button-minus:hover {
  background-color: #990000 !important;
} */

.body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.header {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.scrollbar {
  overflow-y: scroll;
  height: 140px;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;

}

/* Track */
.scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
  background: #fd7e14;
}

/* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #fd7e14;
}

input {
  position: relative;
  width: 300px;
  padding: 10px 0;
  background-color: white;
  border-radius: 4px;
  color: #0b0101;
  font-weight: 250;
  padding-left: .5rem;
}

.link-icon {
  text-decoration: none;
  color: rgb(241, 238, 238);
}

.navbar {
  background-color: rgba(13, 118, 174, 0.968);
}

.searchBar {
  background-color: rgba(13, 118, 174, 0.968);
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.home-link{
  text-decoration: none;
  color: #0b0101;
}

.home {
  background-image: url("https://i.imgur.com/lWrJFEF.png");
  background-repeat: no-repeat;
  background-size: 1520px 290px;
  position: relative;
  background-color: rgb(246, 239, 239);
}

.login {
  background-image: url("https://i.imgur.com/HCTwRTC.jpg");
  background-repeat: no-repeat;
  background-size: 1520px 660px;
  position: relative;
  background-color: rgb(246, 239, 239);
}

.header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  right: 0;
  transform: translateZ(0);
  z-index: 100;
}

.dropbtn {
  background-color: rgb(255, 255, 255);
  margin-top: .4rem;
  padding: 4px;
  margin-left: 10px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  font-size: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: rgb(255, 68, 0);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.textOverflow {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product-link {
  text-decoration: none;
}

@keyframes slideIn {
  0% {
    /* transform: translateY(1rem); */
    opacity: 0;
  }

  100% {
    /* transform: translateY(0rem); */
    opacity: 1;
  }

  0% {
    /* transform: translateY(0.2rem); */
    opacity: 0;
  }
}

@media (min-width: 768px) {
  .animate {
    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }

  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

.text-name{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
